<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IveBin</title>
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Mate|Oleo+Script+Swash+Caps|Quicksand|Qwigley" rel="stylesheet">
<link rel="stylesheet" href="/../css/style.css">

<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/../js/main.js"></script>
</head>
<body>
<div class="logo">
  <a href="/public/">
    IveBin
  </a>
</div>
