<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IveBin</title>
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Mate|Oleo+Script+Swash+Caps|Quicksand|Qwigley" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
