<% include ../../partials/boilerplate %>
<% console.log('View Rendered: User Private Create New Entry') %>

<h1>This is the create new blog entry view</h1>

<% include ../../partials/forms/show-new-entry-form %>

<br><br>
<%# console.log('entries log', user) %>
<span>
  <a href="/private/users/<%= user.id %>">
    Back to User Profile
  </a>
</span>

<% include ../../partials/end %>
