<% include ../../partials/boilerplate %>
<% console.log('View Rendered: User Private Profile') %>

<div class="logo">IveBin</div>
<div class="home-wrapper">
  <div class="home-main">
  <div class="blue-bar"><h1>This is a private user profile view</h1></div>
  <p>
    <a href="/private/entries/new">Create New Blog Entry</a>
  </p>
  <% entries.forEach(entries => { %>
      <div class = "entries">
        <p>
          <a href="/private/entries/<%= entries.id %>">
            <%= entries.title %><br>
            <%= entries.date_created %>
          </a>
        </p>
      </div>
    <% }) %>
  </div>
</div>
<% include ../../partials/end %>
