<% include ../../partials/boilerplate %>
<% console.log('View Rendered: User Private Edit Entry') %>

<h1>This is the edit blog entry view</h1>

<% include ../../partials/forms/show-edit-entry-form %>

<br><br>

<a href="/private/user/1">
  Back to User Profile
</a>

<% include ../../partials/end %>
