<% include ../../partials/boilerplate %>

  <div class="home-main">
    <h1>View the world through other people's words</h1>
    <div class="main">
      <div class="blurb item">
        Welcome to IveBin, a place to reflect and share memoirs driven from wanderlust.<br>
        Where've you bin?
        <br><br>
        <a href="/public/users">User Directory</a>
      </div>
      <div class="user-forms item">
        <div class="login-form">
          <% include ../../partials/forms/show-log-in-form %><br />
        </div>
        <div class="register-form">
          <% include ../../partials/forms/show-new-user-form %>
        </div>
      </div>
    </div>
  </div>

<% include ../../partials/end %>
