<% include ../../partials/boilerplate %>

<div class="home-wrapper">
  <div class="home-main">
    <div class="blue-bar"><h1>This is a header</h1></div>
    <p>Body Text Sample: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae sed odio impedit dolores odit laborum dolorum sequi officia provident exercitationem corporis, iste culpa illo animi maxime sapiente deleniti quia?</p>
    <p><a href="/public/users">Directory of Users</a></p>
    <div class = "login-form">
      <% include ../../partials/forms/show-log-in-form %><br>
    </div>
    <div class ="register-form"
      <% include ../../partials/forms/show-new-user-form %>
    </div>ß
  </div>
</div>
<% include ../../partials/end %>
