<% include ../../partials/boilerplate %>

<div class="logo">IveBin</div>
<h1>This is a header</h1>
<p>Body Text Sample: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae sed odio impedit dolores odit laborum dolorum sequi officia provident exercitationem corporis, iste culpa illo animi maxime sapiente deleniti quia?</p>
<p><a href="/public/users">Directory of Users</a></p>

<% include ../../partials/forms/show-log-in-form %>
<% include ../../partials/forms/show-new-user-form %>

<% include ../../partials/end %>
