<div class="register-user">
  <form action="/private/user/1" method="GET">
    <input type="text" name="username" placeholder="Username" /><br>
    <!-- <input type="text" name="email" placeholder="E-mail" /><br> -->
    <input type="text" name="password" placeholder="Password" /><br>
    <input type="submit" value="Log In" />
  </form>
</div>
