<% console.log('View Rendered: Partial - Edit Entry Form') %>

<div class="form edit-entry">
  <form action="" method="POST">
    <input type="text" name="date_created" placeholder="Current Date" /><br>
    <input type="text" name="location" placeholder="Location" /><br>
    <input type="text" name="content" placeholder="Content" /><br>
    <input type="text" name="image_url" placeholder="image_url" /><br><br>
    <input type="submit" value="Create New Entry" />
  </form>
</div>
