<% include ../../partials/boilerplate %>

<h1>TheyveBin</h1>
<div class="main">
  <div class = "users-gallery">
    <% users.forEach(users => { %>
        <div class = "users">
          <a href="/public/users/<%= users.id %>">
            <p>"<%= users.username %>"</p>
            <img src="<%= users.avatar_url %>" class="avatar">
          </a>
        </div>
    <% }) %>
  </div>
</div>

<% include ../../partials/end %>
