<% include ../../partials/boilerplate %>

<h2>This is the Users Directory</h2>
  <div class = "users-gallery">
    <% users.forEach(users => { %>
        <div class = "users">
          <a href="/public/users/<%= users.id %>">
            <p>"<%= users.username %>"</p>
            <img src="<%= users.avatar_url %>">
          </a>
        </div>
    <% }) %>
  </div>
<% include ../../partials/end %>
