<% include ../../partials/boilerplate %>

<h1><%= user[0].username %>'s Profile</h1>
<div class="main">
    <div class="user-profile">
    <% console.log(user) %>
        <div class="user-details">
          <img src="<%= user[0].avatar_url %>" class="avatar"/><br>
          <%= user[0].email %><br>
        </div>
          <div class="blog-list">
            <h2>Travel Bin:</h2>

            <% if (user[0].content) { %>
              <% include ../../partials/entries-loop.ejs %>
            <% } else { %>
              <p> no blog posts </p>
            <% } %>

          </div>
    </div>

    <p>
      <a href="/public/users">Back to User Directory</a>
    </p>
</div>

<% include ../../partials/end %>
