<% include ../../partials/boilerplate %>

<h1>This Is A Public User Profile</h1>
    <div class = "user">
    <% console.log(user) %>
        <p>
          <h2><%= user[0].username %></h2><br>
          <%= user[0].email %><br>
          <img src="<%= user[0].avatar_url %>" /><br>
        </p>
          <% if (user[0].content !== null) { %>

            <% include ../../partials/entries-loop.ejs %>

          <% } else { %>
            <p> no blog posts </p>
          <% } %>
    </div>

    <p>
      <a href="/public/users">Back to User Directory</a>
    </p>
<% include ../../partials/end %>
